@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bg-dark: #0b0223;
  --bg-white: #ffffff;
  --bg-primary: #e02c6d;
  --bg-blue: #2d25a0;

  --text-white: #ffffff;
  --text-primary: #6c6c6c;
  --text-dark: #18191f;

  --font-regular: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-regular);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
}

p {
  color: var(--text-primary);
  font-family: var(--font-regular);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
a {
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  color: var(--text-dark);
  font-family: var(--font-regular);
}
a:hover,
a:focus {
  text-decoration: none;
  outline: 0 solid;
  color: var(--text-white);
}

img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--font-regular);
  color: var(--text-dark);
}
.section-padding {
  padding: 80px 0;
}
.container {
  width: 1440px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}
.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.flex {
  display: flex;
}
.flex-dir {
  flex-direction: column;
  justify-self: center;
  gap: 24px;
}
/* header navbar styles */
#header-container {
  background: var(--bg-blue);
}
.navbar {
  padding-top: 40px;
  padding-bottom: 40px;
}
.navbar-menu {
  grid-column: 1 / 9;
  align-self: center;
}
.navbar-btn-container {
  grid-column: 11 / 13;
  justify-self: end;
}
ul.nav-links > li > a {
  color: var(--text-white);
}
.mobile-menu {
  display: none;
}
.btn {
  padding: 10px 24px;
  color: var(--text-white);
  font-size: 1rem;
  font-weight: 400 !important;
  line-height: normal;
  display: inline-block;
}
.btn-primary {
  background: var(--bg-primary);
}
ul.nav-links {
  gap: 32px;
}
/* banner styles */
.banner-text {
  grid-column: 1 / 7;
  align-self: center;
  justify-self: start;
}
.banner-text h2 {
  color: var(--text-white);
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.23;
}
.banner-img {
  grid-column: 7 / 13;
}
/*  player cards styles */
.player-cards-container {
  gap: 30px;
}
.single-card-item {
  grid-column: span 4;
  padding: 25px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.player-details h3 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 15px;
}
/* featured styles */

.featured-text {
  grid-column: 1 / 6;
  align-self: center;
}

.featured-img {
  grid-column: 7 / 13;
}

.featured-text h2 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}
/* footer styles */
.footer-logo,
.footer-social-icons,
.copy-right {
  grid-column: 1 / 13;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.footer-logo img {
  width: 50%;
}

.footer-social-icons a img {
  width: 32px;
  height: 32px;
}

.footer-social-icons a {
  margin: 0 5px;
  display: inline-block;
}

.footer-container {
  row-gap: 24px;
}
